{% extends "blog/base.html" %}

{% block right_panel %}
    <div class="col-md-4">
      <div class="content-section">
        <h3>Important</h3>
        <p class='text-muted'>You can put any information here you'd like.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Latest Posts</li>
            <li class="list-group-item list-group-item-light">Present News</li>
            <li class="list-group-item list-group-item-light">Calendars</li>
            <li class="list-group-item list-group-item-light">Achievements</li>
          </ul>
        </p>
      </div>
    </div>
{% endblock %}

{% block content %}
    <h1 id="left">Описание компьютерной игры</h1>
    <h1 id="center">«Tower Defence»</h1>

    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">Задание: </h2>
        <p class="text-align">Рассмотрим пример компьютерной игры «Tower Defence»Tower Defence» (с англ.
                               «Tower Defence»Башенная защита»). Жанр — стратегическая игра. Задача игрока в играх
                               подобного жанра — расправиться с наступающими врагами, так называемыми
                               крипами, до того момента, как они пересекут всю карту. Это осуществляется с
                               помощью строительства башен, атакующих врагов, находящихся в зоне
                               обстрела башни. Башни приобретаются за игровую валюту, получаемую за
                               убийство моба, цена растет со сложностью и характеристиками врагов. Башни
                               поддерживают модернизацию. Карта представляет собой игровое пространство
                               с размеченной дорогой, по которой могут двигаться мобы, и пространство для
                               непосредственной установки башен и других игровых объектов. Количество
                               атакующих и вспомогательных башен не ограничено, однако существует
                               ограничение на близость установки башен друг к другу. Запуск приложение
                               подразумевает появление заставки, на которой отображается статистика
                               пользователей, и поле, для ввода вашего никнейма (имени пользователя). По
                               нажатию кнопки «Tower Defence»старт», осуществляется непосредственный запуск игры.
                               Игровой интерфейс предполагает наличие панелей меню, кнопок переключения
                               состояния, магазин башен, панель отображения накопленной игровой валюты,
                               количество оставшихся жизней и количество уничтоженных врагов. Количество
                               жизней ограничено, когда оно становится равным 0, игра соответственно
                               прекращается. Игра сопровождается приятной мелодией, погружающей в
                               атмосферу игры.
        </p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">Цель: </h2>
        <p class="text-align">Необходимо разработать такой программный продукт, который
                                   сочетал бы в себе внешнюю привлекательность, широкую функциональность,
                                   разнообразность игровых объектов, продуманный спектр различных по
                                   сложности уровней
        </p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">Требования: </h2>
        <p class="text-align">В создаваемой игре, прежде всего, необходимо обеспечить организацию пользовательского
            интерфейса, для осуществления заданного числа команд и возможностей, а также разработать уровни игры, спавн
            мобов (алгоритм генерации врагов) и маршрут движения наступающих врагов.
        </p>
        <p class="text-align">Кроме того, в рассматриваемой задаче представляется интересным осуществление возможной
            анимации движения персонажей и их взаимодействия с другими объектами. Использование звукового сопровождения
            для наибольшего погружения в игровой процесс. Разработка приятного и легкого в управлении интерфейса
            приложения. Также представляется возможным совершенствование идей и представлений в процессе разработки
            продукта.
        </p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">Средства: </h2>
        <p class="text-align">Для разработки игры предполагается использование языка программирования
            Python в среде разработки PyCharm с использованием модуля pygame.
        </p>
      </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">Вариант реализациим: </h2>
        <p class="text-align">В момент запуска приложение возникает стартовое меню, с которого осуществляется запуск
            самого игрового процесса. Экран содержит таблицу результатов, на которой непосредственно отображается
            nickname игрока, количество пройденных волн и количество убитых врагов. Кроме того
            отображается поле ввода имени пользователя, которое  активируется для ввода при нажатии на него.
            Без заполненного имени пользователя игра не запускается. Ну и наконец, по нажатию на кнопку посередине
            экрана или по нажатию клавиши Enter происходит запуск самой игры.
        </p>
        <img class="image-size" src="../../static/first_image.png" alt="Start image">
        <img class="image-size" src="../../static/second_image.png" alt="First map">

        <p class="text-align">На старте игры пользователю предполагается 2000 единиц игровой валюты и 10 жизней.
            Напомню, что каждый враг, преодолевший всё пространство игрового поля, отнимает по жизни. Количество
            жизней игрока не увеличивается во время игры (исключение — использование секретных ключевых фраз). Перед
            запуском первой волны, игроку предоставляется время для определения наиболее выгодных первых позиций для
            своих башен. Всего в игре представлено 4 вида башен: две атакующие — башни лучников дальнего обстрела и
            ближнего обстрела (башни отличаются радиусом атаки, величиной наносимого урона и т.д.), две башни поддержки
            — башня увеличения наносимого урона и башня увеличения радиуса обстрела. Атакующие башни имеют три уровня
            улучшения, в то время как башни поддержки только два. Установка башен возможна только
            на территории свободной от движения врагов (вне дороги).</p>
        <img class="image-size" src="../../static/third_image.png" alt="Archer towers">
        <img class="image-size" src="../../static/fourth_image.png" alt="Support towers">
        <img class="image-size" src="../../static/fives_image.png" alt="Support towers">

        <p class="text-align">Также игрок может воспользоваться булыжниками или бомбами, которые устанавливаются
            непосредственно на дорогу, и или останавливают врагов, до момента уничтожения установленной преграды, или
            активируют взрыв при нанесении удара врагом по бомбе. Для удобства, в левом нижнем углу
            расположена кнопка запуска или остановки (паузы) волны и кнопка включения и выключения проигрывания игровой
            мелодии.</p>
        <img class="image-size" src="../../static/six_image.png" alt="Traps">
        <p class="text-align">Ниже представлена подборка игровых моментов:</p>
        <img class="image-size" src="../../static/sevens_image.png" alt="Game details">
        <img class="image-size" src="../../static/eight_image.png" alt="Game details">
        <img class="image-size" src="../../static/nine_image.png" alt="Game details">
        <img class="image-size" src="../../static/10_image.png" alt="Game details">
        <img class="image-size" src="../../static/11_image.png" alt="Game details">
        <p class="text-align">В игре насчитывается 7 различных типов мобов, обладающих различными стартовыми
            характеристиками, также они могут находится в различных состояниях в зависимости от стадии игры.
            Некоторые из врагов имеют статус «боссов» или «мини боссов», определяющие специфические особенности характеристик.
        </p>
        <p class="text-align">
            • Игровая консоль
            В игре существует всплывающая консоль, в которую можно прописывать команды ограниченной длины.
            Консоль открывается по нажатию клавиши «тильна» на клавиатуре. Ключевые фразы (читкоды), вводимые в
            игровую консоль, позволяют получить дополнительные жизни или игровые денежные единицы, возможность
            моментального уничтожения всех врагов на карте.
        </p>
        <p class="text-align">
            • Анимации движения, атаки, смерти.
            Анимация движения врагов организована посредством проигрывания заранее подгруженного количества изображений
            с определенной частотой.
        </p>
        <p class="text-align">
            • Ограничение установки объектов.
            Изначально на карте задан маршрут движения врагов, относительно которого определяются зоны установки башен,
            зоны установки заграждений и бомб. При попытке установки объекта в запрещенную зону отображается индикатор
            красного цвета вокруг передвигаемого объекта, если установка доступна, индикатор меняет цвет на зеленый.
            Ограничение установки объектов соблюдается как для башен, так и для других объектов. Например, бомбы нельзя
            устанавливать вне дороги, т.е. вне маршрута движения врагов. А башни в свою очередь нельзя устанавливать
            на дорогу.
        </p>
        <p class="text-align">
            • Выбор врага.
            Выбор врага башней осуществляется по следующему принципу: каждая башня имеет диапазон атаки, который
            отображается серой круговой областью на карте при нажатии на башню, при появлении в диапазоне врагов,
            производится выбор по количеству здоровья у всех врагов в диапазоне атаки.
        </p>

          </div>
    </article>
    <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">Приложение: </h2>
        <p class="text-align">Дополнительно к данному краткому описанию проекта прилагается UML  диаграмма классов,
            на которой в основном отображена иерархическая структура наследования классов.
        </p>
        <a class="text-align mr-2" href="{% url 'class-diagram'%}">Посмотреть диаграмму</a>
      </div>
    </article>
{% endblock content %}
